.add-modal-wrapper {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  top: 0;
  left: 0;
}