.add-modal {
  height: 550px;
  width: 800px;
  background-color: white;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
}

.dark-add-modal {
  background-color: #242526;
}