.auth-navigation {
  display: flex;
  align-items: center;
  li {
    cursor: pointer;
    font-size: 1.05em;
    margin: 0 10px;
    padding-bottom: 5px;
    color: rgba(0, 0, 0, 0.55);
    font-weight: 500;
    border-bottom: 3px solid white;

    &:hover {
      color: black;
      border-bottom: 3px solid black;
    }
  }
}
