.auth-header {
  position: sticky;
  top: 0;
  grid-column: 1/-1;
  z-index: 9898;
  
  display: grid;
  justify-content: center;
  background-color: white;
  grid-template-columns: repeat(10, minmax(1rem, 102px));
  box-shadow: 0 3px 3px -2.6px gray;
  .header-content {
    grid-column: 1/-1;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    height: 100px;
    // padding: 1em;
  }
}
