.showcase {
  grid-column: 1/-1;
  background-color: white;
  padding: 5em;
}
.dark-showcase {
  background-color: #242526;
}

.grid-item {
  width: calc(20% - 4px);
  height: 400px;
  border-radius: 8px;
  margin: 0 2px;
}
.grid-item img {
  width: auto;
}

.grid {
  place-content: center;
}
