.showcase {
  grid-column: 1/-1;
  background-color: white;
  padding: 5em;
}
.dark-showcase {
  background-color: #242526;
}

.grid-item {
  width: 200px;
}
.grid-item img {
  width: auto;
}
.grid-item--width2 {
  width: 400px;
}
