.drop-down {
  background-color: white;
  width: 250px;
  display: grid;
  align-content: center;
  position: fixed;
  top: 5em;
  display: none;
  left: calc(100vw - (250px + 1rem));
  box-shadow: 0px 5px 15px rgb(211, 211, 211);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 0.5em;
  padding-bottom: 1em;

  li {
    cursor: pointer;
    padding: 0.3em 0.5em;
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    &:hover {
      background-color: #efefef;
    }
  }
  p {
    font-size: 14px;
    margin: 0.5em 0;
    margin-left: 0.6em;
    &:last-of-type {
      margin-top: 1em;
    }
  }

  .theme {
    display: flex;
    justify-content: space-between;
  }
  .theme-tgl {
    text-align: right;
    color: gray;
    display: grid;
    place-content: center;
  }
  .tgl {
    display: none;
    + .tgl-btn {
      outline: 0;
      display: block;
      width: 3rem;
      height: 1.3rem;
      position: relative;
      cursor: pointer;
      user-select: none;
      &:after,
      &:before {
        position: relative;
        display: block;
        content: "";
        width: 50%;
        height: 100%;
      }

      &:after {
        left: 0;
      }

      &:before {
        display: none;
      }
    }

    &:checked + .tgl-btn:after {
      left: 50%;
    }
  }
  .tgl-ios {
    + .tgl-btn {
      background: gray;
      border-radius: 2em;
      padding: 2px;
      transition: all 0.4s ease;
      &:after {
        border-radius: 2em;
        background: #fbfbfb;
        transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
          padding 0.3s ease, margin 0.3s ease;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
      }

      &:hover:after {
        will-change: padding;
      }

      &:active {
        box-shadow: inset 0 0 0 2em #e8eae9;
        &:after {
          padding-right: 0.8em;
        }
      }
    }

    &:checked + .tgl-btn {
      background-color: orangered;
      &:active {
        box-shadow: none;
        &:after {
          margin-left: -0.8em;
          background-color: white;
        }
      }
    }
  }
}
