header {
<<<<<<< HEAD
  z-index: 9999;
=======
>>>>>>> f28d9a7798f300437f344e40e616e2162f824b5f
  padding: 1em 0;
  box-shadow: 0 3px 3px -2.6px gray;
  font-size: 1rem;
  .header-content {
    display: flex;
  }
}
