.settings {
  display: flex;
  align-items: center;
  li {
    ion-icon {
      font-size: 2em;
      color: #666666;
      cursor: pointer;
      padding: 10px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;

      &:hover {
        background-color: #eee;
      }
    }
  }
}
